@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  /* Products */
  --c-yellow-dark: #c47f17;
  --c-yellow: #dbac2c;
  --c-yellow-light: #f1e9c9;
  --c-purple-dark: #4b2995;
  --c-purple: #8047f8;
  --c-purple-light: #ebe5f9;

  /* Base */
  --c-red: #ff0000;
  --c-base-title: #272221;
  --c-base-subtitle: #403937;
  --c-base-text: #574f4d;
  --c-base-lable: #8d8686;
  --c-base-hover: #d7d5d5;
  --c-base-button: #e6e5e5;
  --c-base-input: #ededed;
  --c-base-card: #f3f2f2;
  --c-background: #fafafa;
  --c-white: #ffffff;

  /* Fonts */
  --f-base: 'Roboto', sans-serif;
  --f-baloo: 'Baloo 2', sans-serif;

  /* Font sizes */
  --fs-titile-xl: 48px;
  --fs-titile-l: 36px;
  --fs-titile-m: 24px;
  --fs-titile-s: 20px;
  --fs-titile-xs: 18px;
  --fs-text-l: 20px;
  --fs-text-m: 16px;
  --fs-text-s: 14px;
  --fs-text-xs: 12px;
  --fs-tag: 10px;
  --fs-button-g: 14px;
  --fs-button-m: 12px;

  /* Font weights */
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  /* Line heights */
  --lh-base: 130%;
  --lh-high: 160%;
}
