.title {
  font-family: var(--f-baloo);
  margin-bottom: 50px;
  font-weight: 800;
  margin-top: 30px;
  font-size: 32px;
}
.wrapper {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 40px;
  display: grid;
}
